<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <input #input type="text" placeholder="Owner" [(ngModel)]="search">
        <input #input type="text" placeholder="Category" [(ngModel)]="search1">
        <input #input type="text" placeholder="Body" [(ngModel)]="search2">
        Select status:
        <select  [(ngModel)]="search3">
            <option value= ""  ></option>
            <option value = "1">Complete</option>
            <option value = "0">Incomplete</option>
        </select>

    </li>
    <li class="list-group-item list-group-item-info">Todo Owner</li>
    <li *ngFor="let todo of todos | async | filterBy: {owner: search} | filterBy: {category: search1 }| filterBy: {body: search2 } | filterBy: {status: search3 }" class="list-group-item">
        <u>Owner</u>:  {{ todo.owner }}<br>
        <u>Status</u>: {{ todo.status }}<br>
        <u>Category</u>: {{ todo.category }}<br>
        <u>Body</u>: {{ todo.body }}

    </li>
</ul>